.footer{
    display:$d-flex;
    flex-direction: column;
    justify-content:center;
    padding-top:$pt-2;
    
    }

 
    .footer__Social{
        display:$d-flex;
        justify-content:center;
    }

    .footer__Info{
    display:$d-flex;
        flex-direction:row;
        justify-content:center;
        font-weight: 400;
        color:#374B73;
       
}

.footer-rest{
    display:$d-flex;
    flex-direction: column;
    justify-content:center;
    
}
.footer-bg{
    background-color:rgb(255,209,220);
}

